@media all and (max-width: 1100px) {
	.main {
	    flex: 2 0 0;
	}

}

/* Mobile Screens */
@media all and (max-width: 767px) {
	h1 {
		font-size: 21px;
		margin: 0 0 16px 0;
	}

	p {
		margin: 0 0 16px 0;
	}

	.wrapper {
		padding: 16px;
	}

	/**** BANNER ***/

	.banner .wrapper {
	    padding-right: 0;
	}

	/***** END BANNER ****/

	/**** HEADER ****/

	.header .logo {
		padding: 16px 0 12px;
		width: 160px;
	}

	h2.trouble {
		margin: 0;
		padding: 0;
		line-height: 72px;
		font-size: 18px;
	}


	/****** END HEADER *****/

	/**** MAIN CONTENT ****/


	.section .wrapper {
		padding: 24px 16px;
	}

	.article {
		display: block;
	}

	.main {
	    margin: 0 0 16px 0;
	}

	.full {
		margin: 0;
	}

	.side-bar {
		padding: 0;
		margin: 0;
	}

	/****** Footer ******/

	.footer {
		text-align: center;
		padding: 0;
		font-size: 12px;
	}

	.footer .wrapper .columns{
		display: block;
	}

	.footer .social {
		margin-top: 12px;
		border-top: 1px solid #888;
		padding-top: 12px;
	}

	.footer .social a {
		float: none;
		display: inline-block;
	}
}

@media all and (max-width: 400px) {

	.header {
		text-align: center;
	}

	.header .logo,
	h2.trouble {
		float: none;
		display: block;
		margin: 0 auto;
	}

	.header .logo {
		padding: 10px 0 6px;
	}

	h2.trouble {
		line-height: 36px;
		border-top: 1px solid #ddd;
		font-size: 16px;
	}
}